{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

 <div class="col-md-6 offset-md-3">

 {% if image %}
 {% for pic in image %}

  <div class="card" style="margin-bottom:20px;">
      <div class="card-header">
        <img src="{{pic.profile.prof_pic.cdn_url}}" class="img-responsive rounded-circle" style="width:12%;height:12%">
          {% if profile.user.id == pic.user.id %}
          <a href="{% url 'lump' %}">{{pic.user.username}}</a>
          {% else %}
          <a href="{% url 'lump' pk=pic.user.id %}">{{pic.user.username}}</a>
          {% endif %}
      </div>


         <img src="{{pic.image.cdn_url}}" class='img-responsive' class="content" />
          <p style='font-size:20px;'>"{{pic.image_caption}}"</p>
 </div>

</hr>
</hr>
</hr>
    <div style="margin:1px;">
    <h3 class='center'>comments</h3>
             {% for comment in pic.comments.all %}
             <a href='{{comment.user.username}}'>{{comment.user.username}}</a></em></b>{{comment.text}}
             </br>
             {% endfor %}

</div>
<div>
             <form id='comment' action="/comments/{{pic.id}}" method="post" enctype="multipart/form-data">
                 {%csrf_token%}

                 {% bootstrap_form commented %}
                 <input type="submit" class="btn btn-primary" value="Add comment">
             </form>


</div>
 </br>
 </br>
 {% endfor %}
 {% else %}
 <p>Nothing has been posted for now</p>
 {% endif %}



</div>

{% endblock %}
