{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

{% if profile %}
{% for prof in profile %}


<!-- Home Section Start -->
<section class="home-section">
    <div class="container">
        <div class="row">

             <div class="col-sm-offset-2 col-md-4 col-sm-6 margin-left-setting">
                <div class="margin-top-150">

                 <div class="table-responsive">
          <table class="table">
          <tr>
              <td>Username</td>
            <td>{{user.username}}</td>
           </tr>
                         <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{user.first_name}}</td>
           </tr>
          <tr>
            <td>Last Name</td>
            <td>{{user.last_name}}</td>
          </tr>
          <tr>
            <td>Contact</td>
            <td>1234567890</td>
          </tr>
            <tr>
            <td>Bio</td>
            <td>{{prof.bio}}</td>
          </tr>
        </table>
        </div>
                 </div>
               </div>
<!--Delete Album -->
<form action="{% url 'profile-delete' prof.id %}" method="post" style="display: inline;">
{% csrf_token %}
<input type="hidden" name="image_id" value="{{ prof.id }}" />
<button type="submit" class="btn btn-default btn-lg">
<span class="glyphicon glyphicon-trash"></span>
</button>
</form>
<!--edit-album-->
   <form action="{% url 'profile-update' prof.id %}" method="post" style="display: inline;">
       {% csrf_token %}
       <input type="hidden" name="image_id" value="{{ prof.id }}" />
       <button type="submit" class="btn btn-default btn-lg">
           <span class="glyphicon glyphicon-edit"></span>
       </button>
   </form>

             <div class="col-md-5 col-sm-6">
                <div class="me-image">
                  <img  src='{{prof.prof_pic.cdn_url}}' class='img-responsive'>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- Home Section End -->
{% endfor %}
{% else %}

<a href="{% url 'create'%}"> Please create and edit your profile</a>
{% endif %}

{% if image %}


<!-- Services Start -->
<section id="services" class="services-section section-space-padding">
<div class="container">
 <div class="row">
      <div class="col-sm-12">
          <div class="section-title">
              <h2 style='color:#00ff41;'>My Posts</h2>
                <div class="divider dark">
	   <i class="icon-drop" style='color:#00ff41;' ></i>
	 </div>
          </div>
      </div>
  </div>


{% for pic in image %}

  <h3 >{{pic.image_name}}</h3>

<!-- Delete Album -->
 <form action="{% url 'album-delete' pic.id %}" method="post" style="display: inline;">
     {% csrf_token %}
     <input type="hidden" name="image_id" value="{{ pic.id }}" />
     <button type="submit" class="btn btn-default btn-lg">
         <span class="glyphicon glyphicon-trash"></span>
     </button>
 </form>
 <!--edit-album-->
  <form action="{% url 'album-update' pic.id %}" method="post" style="display: inline;">
{% csrf_token %}
  <input type="hidden" name="image_id" value="{{ pic.id }}" />
  <button type="submit" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-edit"></span>
  </button>
</form>



          <h4>{{pic.image_name}}</h4>


<img src="{{pic.image.cdn_url}}">
</div>
<div>
          {% for comment in pic.comments.all %}
             <!-- <a href='{{comment.user.username}}'>{{review.user.username}}</a> -->
<hr>
            {{comment.review}}
</hr>

             </br>
             {% endfor %}
</div>
</div>


      {% endfor %}
      {% else %}
      <p>You have never posted anything</p>
      {% endif %}

            </div>
        </div>
    </section>


    <!-- Footer End -->
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="icon-arrow-up-circle"></i></a>
    <!-- Back to Top End -->
  </body>
 </html>

{% endblock %}
