{% load static %}
<nav class="navbar">
  <section class="logo-section"><a href="{% url 'home'%}"><img class="logo" src="{% static 'images/dm.jpeg'%}" /></a>
    <div></div><a href="{% url 'home'%}"><img class="logoname" src="{% static 'images/inst.png'%}" style="width:80px;" /></a>
  </section>
  <form class="search-section">
    <input class="input-search" type="search" name="search" placeholder="Search" />
  </form>
  <section class="icons-section"><i class="fa fa-compass" href="#"></i><i class="fa fa-heart-o" href="#"></i><i class="fa fa-user-o" href="{% url 'profile'%}"></i></section>
</nav>
