{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}


{% if profile %}
{% for prof in profile %}
<div class="container-fluid">
<!-- Home Section Start -->
<section class="home-section" style="margin-top:20px;">
    <div class="container">
  <center><h1>Hi {{user.username}} post something&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'new_image'%}"><button class='btn btn-primary'>post</button></a></h1></center>
        <div class="row">

             <div class="col-sm-offset-2 col-md-4 col-sm-6 margin-left-setting">
                <div class="margin-top-150">

                 <div class="table-responsive">
          <table class="table">
          <tr>
              <td>Username</td>
            <td>{{user.username}}</td>
           </tr>
                         <tr>
            <td>Email</td>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{user.first_name}}</td>
           </tr>
          <tr>
            <td>Last Name</td>
            <td>{{user.last_name}}</td>
          </tr>
            <tr>
            <td>Bio</td>
            <td>{{prof.bio}}</td>
          </tr>
        <tr>
        <td>
        <a href="{% url 'create'%}"><button class="btn profile-edit-btn">Edit Profile</button></a>
          </td>
          </tr>
        </table>
        </div>
                 </div>
               </div>

<!--Delete Album -->
            <form action="{% url 'profile-delete' prof.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="image_id" value="{{ prof.id }}" />
                <button type="submit" class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            <!--edit-album-->
                                 <form action="{% url 'profile-update' prof.id %}" method="post" style="display: inline;">
                                     {% csrf_token %}
                                     <input type="hidden" name="image_id" value="{{ prof.id }}" />
                                     <button type="submit" class="btn btn-primary btn-lg">
                                         <span class="glyphicon glyphicon-edit"></span>
                                     </button>
                                 </form>

             <div class="col-md-5 col-sm-6">
                <div class="me-image">
                  <img  src='{{prof.prof_pic.cdn_url}}' class='img-responsive img-rounded' style="height: 200px;width: 50%;">
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- Home Section End -->
{% endfor %}
{% else %}


<button><a href="{% url 'create'%}"> Please create and edit your profile</a></button>
{% endif %}


<center><h1>My Posts</h1></center>


<div class="container">
  <div class="row" >
    {% if image %}

    {% for pic in image %}

 <div class="col-md-3" style='border:1px solid black; margin:20px'>

   <img src="{{pic.image.cdn_url}}" style="max-width:200px;" class='img-responsive'
     alt="{{pic.image_name}}" style='margin-top:10px;'>
   <!-- <figcaption> -->
  <h3>{{pic.image_name}}</h3>
 <h3>{{pic.image_caption}}</h3>
<!-- <h3>{{user.username}}</h3> -->
<!-- Delete Album -->
{% for comment in pic.comments.all %}

  <div>{{comment.text}}</div>

   {% endfor %}
   {% if pic.likes >= 1 %}
       <p><i class="fa fa-heart fa-2x ml-4" style="color:red"></i><b>{{pic.likes}} likes</b></p>
       {% endif %}
  <form action="{% url 'album-delete' pic.id %}" method="post" style="display: inline;">
      {% csrf_token %}
      <input type="hidden" name="project_id" value="{{ pic.id }}" />
      <button style="margin-bottom:20px;"  type="submit" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-trash"></span>
      </button>
  </form>
  <!--edit-album-->
   <form action="{% url 'album-update' pic.id %}" method="post" style="display: inline;">
 {% csrf_token %}
   <input type="hidden" name="project_id" value="{{ pic.id }}" />
   <button style="margin-bottom:20px;" type="submit" class="btn btn-primary btn-lg">
       <span class="glyphicon glyphicon-edit"></span>
   </button>
 </form>
 </div>
   {% endfor %}
 </div>
</div>

      {% else %}
      <p>Nothing has been posted for now</p>
      {% endif %}
</div>
{% endblock %}
