{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
{% for prof in profile %}
  {% if user.id == prof.user.id %}
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
  {% if prof.prof_pic %}
<img src="{{prof.prof_pic.url}}" alt="" class="img-fluid" style="border-radius:50%;">
  {% else %}
<h1>no image to display</h1>
{% endif %}
{% if prof.bio %}
<br>
{{prof.user.username}}

{{prof.bio}}

{% endif %}
{% endif %}
{% endfor %}
{% endblock %}
