.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #ddd;
}
.navbar .logo-section {
  display: flex;
  align-items: center;
}
.navbar .logo-section div {
  align-self: stretch;
  width: 1px;
  background: black;
  margin: 0 20px;
}
.navbar .icons-section .fa {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  margin: 0 10px;
}
.navbar .logo {
  width: 40px;
}
.navbar .logoname {
  width: 130px;
}
.navbar .input-search {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 2px solix #ddd;
  outline: 0;
}
.navbar .input-search:focus {
  text-align: left;
}

/* landing */
.landing-left .screen-shot{

  position: absolute;
  top: 99px;
  right: 63px;
}

  .item {
      position: absolute;
          }
        }
      }

.box{
background-color: #fff;
border: 1px solid #e6e6e6;
border-radius: 1px;
padding: 10px 0;
margin: 0 0 10px;
}

.brand-name-img{
background-position: 0 0;
height: 51px;
width: 175px;
margin: 22px auto 8px;

}

.landing-right{

}

.form-login{
width: 350px;
}

form {
padding: 0 40px;

}

.btn-primary{
width: 100%;
line-height: 14px;
font-size: 14px;
font-weight: 600;
}

input{
border: 1px solid #efefef;
}

.form-check-label{
padding: 0;
font-size: 15px;
color: #262626;

}

.redirect-links{
width: 350px;
}
footer .nav-item{
color: #003569 !important;
font-size: 12px;
font-weight: bold;

}

.light-color{
color: #999;
}
